@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_SlideShowPartial"></partial>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>You need to be Signed in order to use this app</p>
    </div>
}
